.club-profile-container header {
	background-color: var(--white);
	border-radius: 1rem;
	padding: 1rem;
	box-shadow: var(--box-shadow);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
}

.club-profile-container header>div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.club-details {
	font-size: .8rem;
	width: fit-content;
	height: 10rem;
}

.club-details td,
.club-details th {
	border-collapse: collapse;
	border: 1px solid var(--darkgray);
	padding: .25rem;
	vertical-align: middle;
}

.club-details th {
	background-color: var(--gray);
	font-family: 'Ubuntu-Bold', sans-serif
}

.club-details tr:first-child {
	background-color: var(--gray);
	text-align: center;
	font-size: 1.25rem;
	font-family: 'Ubuntu-Bold', sans-serif;
}

.club-logo-table {
	height: 10rem;
}

.club-logo-table img {
	height: 6rem;
	width: 6rem;
}

.club-logo-table td {
	border-collapse: collapse;
	border: 1px solid var(--darkgray);
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.club-logo tr {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	text-align: center;
}

.club-logo-table tr:last-child {
	background-color: var(--gray);
	font-size: .8rem;
	text-align: center;
}