.club-stats-table {
	width: 100%;
}

.club-stats-table th:first-child {
	text-align: left;
}

.club-stats-table thead {
	background-color: var(--gray);
	font-family: 'Ubuntu-Bold', sans-serif;
}

.club-stats-table td,
.club-stats-table th {
	border-collapse: collapse;
	border: 1px solid var(--darkgray);
	padding: .5rem;
	text-align: center;
}

.club-stats-table td:first-child {
	font-family: 'Ubuntu-Bold', sans-serif;
	text-align: left;
}

.club-stats-table tr:nth-child(even) {
	background-color: var(--gray);
}

.club-stats-table tr:last-child {
	background-color: var(--green);
	font-family: 'Ubuntu-Bold', sans-serif;
}