.news-timeline {
	height: fit-content;
	padding: 1rem;
	margin-top: 1rem;
	background-color: var(--white);
	border-radius: 1rem;
	box-shadow: var(--box-shadow);
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--green-darker);
	font-size: 1.3rem;
	line-height: 1.25;
}

.news-timeline-frontpage {
	font-size: 1.3rem;
	height: fit-content;
	display: grid;
	column-gap: .5rem;
	row-gap: .5rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-auto-flow: auto;
}

#leader {
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 1.25rem;
}

#leader img {
	margin-top: auto;
	margin-bottom: auto;
}

.news-timeline span {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1rem !important;
	color: var(--darkgray);
}

.news-timeline-frontpage h3 {
	text-decoration: none;
}



.news-timeline h3:hover {
	text-decoration: underline;
}

.news-timeline article:hover {
	cursor: pointer;
}

.sub-articles {
	display: flex;
	flex-direction: column;
	padding-top: 2rem;
	font-size: 1rem;
}

.sub-article-hyperlink {
	width: 80%;
	height: 100%;
	color: var(--green-darker);
	position: relative;
	display: grid;
	grid-template-columns: 5fr 1.5fr;
	grid-template-rows: 0.5fr 2fr 0.5fr;
	gap: 10px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"media img"
		"title img"
		"date img";
	border-bottom: 1px solid var(--darkgray);
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.sub-article-hyperlink img {
	grid-area: img;
	max-width: 100%;
	/* Set the maximum width of the image to 100% of its parent container */
	height: auto;
	/* Maintain the aspect ratio */
	display: block;
}

#date {
	grid-area: date;
	font-size: 1rem;
}

#media {
	grid-area: media;
	font-size: 1rem;
}

#title {
	grid-area: title;
}

sub-article-container {
	height: fit-content;
	width: fit-content;
}

.sub-article-container a {
	text-decoration: none;
}

.sub-article-container h3:hover {
	text-decoration: underline;
}

#page-selector {
	text-align: center;
	margin-bottom: .5rem;
}

.news-timeline-page-buttons {
	display: flex;
	flex-direction: row;
	width: fit-content;
	border: 1px solid var(--darkgray);
	margin: auto;
}

.news-timeline-page-buttons div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: fit-content;
	width: 100%;
	max-width: 20rem;
	margin: auto;
	overflow: hidden;
}

.current-page,
.other-page {
	padding: 1rem;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: none;
}

.other-page:hover,
.news-scroll-button:hover {
	background-color: var(--gray);
}

.news-scroll-button {
	background: none;
	border: none;
	padding-left: .5rem;
	padding-right: .5rem;
}

.current-page {
	background-color: var(--green);
}

.news-timeline h1 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 2px solid var(--darkgray);
}