.club-fixture-list-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#new-month-p {
	margin-top: .5rem;
	margin-bottom: 4px;
	font-family: 'Ubuntu-Bold', sans-serif;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid var(--gray);
	color: var(--darkgray);
	padding-bottom: 4px;
}

.club-fixtures-list-row {
	padding: .2rem;
}

#club-squad-table {
	width: 100%;
	font-size: .8rem;
}

.club-squad-list-row {
	border-bottom: 1px solid var(--gray);

	&:nth-child(even) {
		background-color: var(--gray);
	}

	&:hover {
		background-color: var(--gray);
		cursor: pointer;
	}
}

#club-squad-table img {
	height: 1.5rem;
	margin-right: .5rem;
	border-radius: 50%;
}

#club-squad-table td, #club-squad-table tr {
	padding: .25rem;

}

#club-squad-table-head th {
	font-family: 'Ubuntu-Bold', sans-serif;
	border-bottom: 1px solid var(--gray);

	padding-bottom: 1rem;
	padding-top: 1rem;
	color: var(--darkgray)
}

.club-squad-list-row a {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}



#Name {
	text-align: left;
}

#center-align {
	text-align: center;
}

.club-profile-container header {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-auto-columns: auto;
	background-color: var(--white);
	border-radius: 1rem;
	padding: 1rem;
	box-shadow: var(--box-shadow);
}

.club-details {
	font-size: 1rem;
	width: 100%;
}

.club-details td {
	border-collapse: collapse;
	border: 1px solid var(--darkgray);
	padding: .5rem;
}

.club-details-header {
	font-family: 'Ubuntu-Bold', sans-serif
}

.club-details-detail {
	width: 100%;
}

.club-logo-area {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: left;
}

.club-logo-area img {
	height: 10rem;
	width: 10rem;
	margin-bottom: 1rem;
}

.club-profile-nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	background-color: var(--white);
	box-shadow: var(--box-shadow);
	border-radius: 1rem;
}

.club-profile-nav-bar button {
	padding: 1rem;
	width: 100%;
	border: 1px solid var(--gray);
	border-collapse: collapse;
	background-color: var(--white);

	&:first-child {
		border-top-left-radius: 1rem;
		border-bottom-left-radius: 1rem;;
	}

	&:last-child {
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}

	&:hover {
		cursor: pointer;
	}
}

.club-profile-nav-bar .selected-tab {
	background-color: var(--green) !important;
	color: var(--white) !important;
	border: 1px solid var(--green);
}

.club-profile-main {
	margin-top: 1rem;
	padding: 1rem;
	background-color: var(--white);
	border-radius: 1rem;
	box-shadow: var(--box-shadow);
	font-size: 1rem;
}