.fixture-nav-bar {
	padding: 1rem;
	background-color: var(--white);
	border-radius: 1rem;
	box-shadow: var(--box-shadow)
}

.fixture-nav-bar > ul {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	width: 100%;
}

.fixture-nav-bar li {
	min-width: fit-content;
}

.fixture-nav-bar button {
	background-color: none;
	border: 1px solid var(--gray);
	padding: 1rem;
	border-collapse: collapse;
	background-color: var(--white);
}

.fixtures-display {
	background-color: var(--white);
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: var(--box-shadow);
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	min-height: 40rem;
}

.event-card a {
	text-decoration: none;
	color: black;
	font-family: 'Ubuntu', sans-serif;
}

.event-card-info {
	display: grid;
	grid-template-columns: 4fr 1fr 1fr;
	padding: 1rem;
	width: 40rem;
	min-width: 20rem;
	font-size: 1rem;
	border-collapse: collapse;
	border: 1px solid var(--gray);

	&:hover {
		background-color: var(--gray);
	}
}

.event-card-team-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	vertical-align: middle;
	text-align: center;
	padding: .5rem;
}

.event-card-team-row p {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.event-card-team-row img {
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: .5rem;
}

.event-card {
	margin: auto;
	width: fit-content;
}

.event-card-scores, .event-card-teams {
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
}

.event-card-status {
	display: flex;
	align-items: center;
	justify-content: left;
}

.fixture-nav-bar .selected-date {
	background-color: var(--green) !important;
	color: var(--white);
}