.league-table {
	width: 100%;
	font-size: .8rem;
	background-color: var(--white);
		border-radius: 1rem;
		box-shadow: var(--box-shadow);
}

.league-table td {
	overflow: hidden;
	white-space: nowrap;
}

.league-table thead {
	border-bottom: 1px solid var(--gray)
}

.league-table-header {
	color: var(--darkgray);
	text-align: center;
	font-size: 1rem;
	padding: .5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	
}

#Club {
	text-align: left;
}

#Club a {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.league-table-row {
	border-bottom: 1px solid var(--gray);

	&:nth-child(even) {
		background-color: var(--gray);
	}

	&:hover {
		background-color: var(--gray);
	}
}

.league-table-row td {
	padding: .5rem;
	text-align: center;
	vertical-align: middle;
}

.league-table img {
	height: 1rem;
	margin-right: 4px;
}

#form-display {
	font-size: .5rem;
}