.match-overview-score-display {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	font-size: 3rem;
	font-weight: bolder;
	overflow: hidden;
	white-space: nowrap;
}

.score-display {
	padding: 1rem;
	background-color: var(--white);
	margin-bottom: 1rem;
	box-shadow: var(--box-shadow);
	border-radius: 1rem;
}

.match-overview-score-display img {
	height: 5rem;
	margin-right: 2rem;
}


.match-overview-teams {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
	font-size: 3rem;
	font-weight: bolder;
}


.match-overview-score {
	display: flex;
	justify-content: flex-end;
}


.match-overview-team-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem;
}


.match-overview-scores {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-auto-rows: auto;
	padding: 1rem;
}

.match-overview-scores p {
	display: flex;
	justify-content: center;
	align-items: center;
}


.match-overview-details {
	display: flex;
	justify-content: center;
	align-items: center;
}


.match-overview-nav-bar ul {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
	font-size: 1rem;
	font-family: 'Ubuntu-Bold', sans-serif;
	border-radius: 1rem;
	border: 1px solid var(--gray);
	box-shadow: var(--box-shadow);
	background-color: var(--white);
}

.match-overview-component {
	border-radius: 1rem;
	border: 1px solid var(--gray);
	box-shadow: var(--box-shadow);
	background-color: var(--white);
	padding: 1rem;
}

.match-overview-nav-bar li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1rem;
	font-size: .8rem;

	&:first-child {
		border-top-left-radius: 1rem;
		border-bottom-left-radius: 1rem;
	}

	&:last-child {
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}

	&:nth-child(2) {
		border-left: 1px solid var(--gray);
		border-right: 1px solid var(--gray);
	}
}


.match-overview-nav-bar .selected {
	background-color: var(--green);
	color: white;
}

.lineups-tab {
	display: flex;
	flex-direction: row;
}

.lineups-tab table {
	font-size: 1rem;
	width: 100%;
	text-align: center;

	&:last-child {
		border-left: 1px solid var(--gray);
	}
}

.lineups-tab tr {
	border-bottom: 1px solid var(--gray);

	&:nth-child(odd) {
		background-color: var(--gray);
	}
}

.lineups-tab td {
	padding: .25rem;
}

#lineup-header td {
	font-family: 'Ubuntu-Bold';
	padding: 0.5rem;
	background-color: var(--green);
	color: var(--white);
	align-items: center;
	text-align: center;
}

.events-timeline {
	font-size: 1rem;
	width: 100%;
}

.events-timeline tr:nth-child(even) {
	background-color: var(--gray);
}

.events-timeline tbody {
	width: 100%;
}

.events-timeline img {
	height: 2rem;
}


.events-timeline p { 
	padding: .5rem;
}

.events-timeline img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.match-event-item {
	width: 100%;
	align-items: center;
	border-bottom: 1px solid var(--gray);
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.match-event-item td {
	padding: .2rem;
}

.match-event-item img {
	height: 1rem;
	width: 1rem;
}

#new-period td {
	font-family: 'Ubuntu-Bold';
	padding: .5rem;
	background-color: var(--green);
	color: var(--white);
	align-items: center;
	text-align: center;
}

#player-name {
	font-family: 'Ubuntu-Bold', sans-serif;
}

#assist-name {
	padding-left: .5rem;
	padding-right: .5rem;
}


#home-event-info {
	display: flex;
	flex-direction: row;
}

#away-event-info {
	display: flex;
	flex-direction: row-reverse;
}

#elapsed {
	font-family: 'Ubuntu-Bold', sans-serif;
}

.timeline-event-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.match-overview-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom:.5rem;
	color: var(--darkgray);
	font-family: 'Ubuntu', sans-serif;
	font-size: .8rem;
}

.match-overview-header p {
	display: flex;
	justify-content: center;
	align-items: center;
}

.match-overview-header img {
	height: 2rem;
	width: 2rem;
	margin-right: 4px;
}

.match-stats-container {
	font-size: 1rem;
}

.match-stats-container table {
	width: 100%;
	border-collapse: collapse;
	white-space: nowrap;
	overflow: none;
}

#stat-name-column {
	text-align: center;
	width: 100%;
	font-family: 'Ubuntu-Bold', sans-serif;
}

.match-stats-container thead {
	font-family: 'Ubuntu-Bold', sans-serif;
	background-color: var(--green);
	color: white;
}

.match-stats-container th {
	width: 33%;
}

.match-stats-container th, .match-stats-container td {
	&:first-child {
		text-align: left;
	}

	&:last-child {
		text-align: right;
	}

	padding: .5rem;
}

#percentage-stat-td {
	padding: 0px
}

#percentage-stat-td > div {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.stat-containers div {
	font-family: 'Ubuntu-Bold';

	&:first-child {
		text-align: left;
		padding-left: 1rem;
		border-bottom-left-radius: 1rem;
		border-top-left-radius: 1rem;
	}

	&:last-child {
		text-align: right;
		padding-right: 1rem;
		border-bottom-right-radius: 1rem;
			border-top-right-radius: 1rem;
	}
}

.match-stats-container .leading-col {
	background-color: var(--green);
	color: var(--white);
}

.match-stats-container .losing-col {
	background-color: var(--red);
	color: var(--white);
}

.match-stats-container .losing-col, .match-stats-container .leading-col {
	padding-top: .5rem;
	padding-bottom: .5rem;
}

#zero-col {
	width: 100%;
	height: 100%;
	padding-top: .5rem;
	padding-bottom: .5rem;
	background-color: var(--gray);
	color: black;
}