.news-timeline {
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--green-darker);
	font-size: 1.3rem;
	line-height: 1.25;
}

.news-timeline-frontpage {
	font-size: 1.3rem;
	height: fit-content;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		"lead-story side-story-1"
		"lead-story side-story-2"
		"lead-story side-story-3"
}

.lead-story {
	height: fit-content;
	grid-area: lead-story;
	margin-right: 1rem;
	font-size: 1.5rem;
}

.lead-story img {
	height: 70% !important;
	width: 100%;
	object-fit: cover;
	margin-bottom: 1rem;
}

#side-story-container-1 {
	grid-area: side-story-1;
}
#side-story-container-2 {
	grid-area: side-story-2;
}
#side-story-container-3 {
	grid-area: side-story-3;
}

#side-story-1, #side-story-2, #side-story-3 {
	width: 100%;
	height: 100%;
}

#side-story-container-1, #side-story-container-2, #side-story-container-3 {
	display: flex;
	width: 100%;
	vertical-align: top;
	padding: 1rem;
}

.lead-story {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}



.news-timeline span {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1rem !important;
	color: var(--darkgray);
}

.news-timeline h3:hover {
	text-decoration: underline;
}

.news-timeline article:hover {
	cursor:pointer;
}

.sub-articles {
	display: flex;
	flex-direction: column;
	padding-top: 4rem;
}

.sub-article-hyperlink {
	width: 80%;
	height: 100%;
	color: var(--green-darker);
	position: relative;
	display: grid;
	grid-template-columns: 5fr 1.5fr;
	grid-template-rows: 0.5fr 2fr 0.5fr;
	gap: 10px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"media img"
		"title img"
		"date img";
	border-bottom: 1px solid var(--darkgray);
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.sub-article-hyperlink img {
	grid-area: img;
	height: 100px;
	margin: auto;
}

#date {
	grid-area: date;
	font-size: 1rem;
}

#media {
	grid-area: media;
	font-size: 1rem;
}

#title {
	grid-area: title;
}

sub-article-container {
	height: fit-content;
	width: fit-content;
}

.sub-article-container a {
	text-decoration: none;
}

.sub-article-container h3:hover {
	text-decoration: underline;
}

.news-timeline-page-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: fit-content;
	width: 100%;
	margin: auto;
}

.news-timeline-page-buttons button {
	border-radius: 50%;
	padding: 1rem;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--darkgray);
}

#page-selector {
	margin: auto;
	margin-bottom: 1rem;
}

.current-page {
	background-color: var(--green);
}

.sub-articles h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 2px solid var(--darkgray);
}