.matches-timeline {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.matches-timeline:first-child {
	border-top: 1px solid var(--gray)
}

.matches-timeline a {
	width: 100%;
	max-width: 600px;
	margin: auto;
	border-radius: 8px;
	padding: 1rem;
	text-decoration: none;
	background-color: none;
	color: black;
	&:hover {
		background-color: lightgray;
	}

	transition: .2s background-color;
	border-bottom: 1px solid var(--gray);
}

.match-list-item {
	margin: 2rem;
}

.match-info-bar {
	color: gray;
}

#competition-indicator {
	color: var(--darkgray);
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.timeline-events-bar {
	font-size:1rem;
	vertical-align: middle;
	text-align: center;
	line-height: 100%;
	

	img {
		height: 1rem;
	}
}

.matches-timeline img {
	height: 5rem;
}

.timeline-scoreline-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.event-timeline-list-item {
	width: 100% !important;
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: left;
}

.event-timeline-list-item img {
	height: 2rem;
}

.timeline-match-card {
	width: 100%;
	max-width: 600px;
	min-width: 400px;
	margin: auto;
	padding: 1rem;
	display: grid !important;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "home status"
    "away status";
	gap: 1rem;
	font-size: 1.5rem;
}

.timeline-match-card img {
	height: 2rem;
	padding-right: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-team-bar {
	grid-area: home;
}

.away-team-bar {
	grid-area: away;
}

.status-area {
	grid-area: status;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

.home-team-bar, .away-team-bar {
	display: flex !important;
	flex-direction: row;
	justify-content: space-between;
	align-items: center !important;
	padding-right: 2rem;
	overflow: hidden !important;
}

.home-team-bar p,.away-team-bar p {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;	
}

.team-name-display {
	width: 100% !important;
}

.timeline-nav-bar {
	background-color: var(--white);
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-right: auto;
	margin-left: auto;
	width: fit-content;
	max-width: 100%;
	overflow-x: scroll;
	margin-bottom: 1rem;
	height: fit-content;
	padding-bottom: 1rem;
}

.timeline-nav-bar button {
	background-color: var(--white);
	z-index: 1;
	width: 6rem;
	height: 3rem;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-bottom: 4px solid lightgray;
	border-right: 1px solid lightgray;
	border-top: 1px solid lightgray;
}

.timeline-nav-bar button:hover {
	background-color: var(--green-lighter);
}

.selected-nation {
	background-color: var(--green) !important;
	border-bottom: 4px solid var(--green-darker) !important;
}

.match-timeline-table {
	width: 100%;
	border-collapse: collapse;	
}

.match-timeline-table h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid var(--darkgray);
		margin-top: 1rem;
}

.match-timeline-table table {
	font-size: 1rem;
	margin-bottom: 1rem;
	table-layout: fixed;
	width: 100%;
}

.match-timeline-table th, .match-timeline-table td {
	padding: .5rem;
	text-align: center;
}

.match-timeline-table td {
	border: 1px solid var(--darkgray);
}

.match-timeline-table th {
	font-family: 'Ubuntu-Bold', sans-serif;
	border: 1px solid var(--darkgray);
}

.match-timeline-table tbody > tr:hover {
	background-color: var(--green-lighter);
	cursor: pointer;
}

.timeline-match-teams {
	width: 100%;
	display: grid;
	grid-template-columns: 10fr 1fr 10fr;
	grid-auto-columns: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.team-indicator {
	height: 100%;
	width: 100%;
	white-space: nowrap;
	margin-top: auto;
	margin-bottom: auto;
	display: flex !important;
	align-items: center;
	vertical-align: middle;
}

.match-timeline-table img {
	height: 2rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

#away-team-indicator {
	justify-content: flex-start;
}

#home-team-indicator {
	justify-content: flex-end;
}

.versus {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	font-family: 'Ubuntu-Bold', sans-serif;
}

.match-column {
	width: 70%;
}

.time-column {
	width: 10%;
}

.location-column {
	width: 20%;
}

#location {
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}