.timeline-select {
	position: relative;
}

.select-button {
	padding: 10px;
	cursor: pointer;
}

.select-button::after {
	content: '▼';
	margin-left: 1rem;
}

.filter-options {
	display: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: none;
	border-radius: 0 0 4px 4px;
	width: 100%;
	max-height: 150px;
	overflow-y: auto;
}

.open .filter-options {
	display: block;
}

.filter-options li {
	padding: 8px;
	cursor: pointer;
	transition: background 0.2s;
}

.filter-options li:hover {
	background-color: #f0f0f0;
}

.filter-options li.selected {
	background-color: #007bff;
	color: #fff;
}