.matches-timeline {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.matches-timeline a {
	margin: auto;
	text-decoration: none;
	background-color: none;
	color: black;
	&:hover {
		background-color: lightgray;
	}
}

.match-list-item {
	margin: 2rem;
}

.match-info-bar {
	color: gray;
}

.timeline-events-bar {
	font-size:1rem;
	vertical-align: middle;
	text-align: center;
	line-height: 100%;
	

	img {
		height: 1rem;
	}
}

.matches-timeline img {
	height: 5rem;
}

.timeline-scoreline-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.event-timeline-list-item {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: left;
}

.event-timeline-list-item img {
	height: 2rem;
}

.timeline-match-card {
	width: 50%;
	max-width: 600px;
	min-width: 400px;
	margin: auto;
	padding: 1rem;
	display: grid !important;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "home status"
    "away status";
	gap: 1rem;
}

.timeline-match-card img {
	height: 2rem;
	padding-right: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-team-bar {
	grid-area: home;
}

.away-team-bar {
	grid-area: away;
}

.status-area {
	grid-area: status;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

.home-team-bar, .away-team-bar {
	display: flex !important;
	flex-direction: row;
	justify-content: space-between;
	align-items: center !important;
	padding-right: 2rem;
	overflow: hidden !important;
}

.home-team-bar p,.away-team-bar p {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

