.club-home-container {
	padding: .5rem;
}

.club-home-table img {
	border: 2px solid var(--gray)
}

.club-home-table .table-key {
	font-family: 'Ubuntu-Bold', sans-serif;
}

#club-home-table {
	position: sticky;
	top: 1rem !important;
}