.match-overview-component {
	border-radius: .5rem;
	border: 1px solid var(--gray);
	box-shadow: var(--box-shadow);
	background-color: var(--white);
	padding: 1rem;
}

.match-nav-bar {
	margin-bottom: .5rem;
}