.match-timeline-table {
	width: 100%;
	border-collapse: collapse;
}

.match-timeline-table h2 {
	font-size: 1.5rem;
	margin-bottom: .5rem;
	padding-bottom: .5rem;
	margin-top: 1rem;
	font-family: 'Ubuntu-Bold', sans-serif;
}

.match-timeline-table table {
	font-size: .8rem;
	margin-bottom: 1rem;
	table-layout: fixed;
	width: 100%;

}

.match-timeline-table thead {
	border-top: 1px solid var(--gray);
}

.match-timeline-table th,
.match-timeline-table td {
	padding: .5rem;
	text-align: center;
}

.match-timeline-table td {
	border-bottom: 1px solid var(--gray);
}

.match-timeline-table th {
	font-family: 'Ubuntu-Bold', sans-serif;
	border-bottom: 1px solid var(--gray);
}

.timeline-match-teams {
	width: 100%;
	display: grid;
	grid-template-columns: 10fr 1fr 10fr;
	grid-auto-columns: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.team-indicator {
	height: 100%;
	width: 100%;
	white-space: nowrap;
	margin-top: auto;
	margin-bottom: auto;
	display: flex !important;
	align-items: center;
	vertical-align: middle;
}

.match-timeline-table img {
	height: 1rem;
	margin-right: .5rem;
	margin-left: .5rem;
}

#away-team-indicator {
	justify-content: flex-start;
}

#home-team-indicator {
	justify-content: flex-end;
}

.versus {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	font-family: 'Ubuntu-Bold', sans-serif;
}

.match-column {
	width: 50% !important;
}

.time-column {
	width: 10%;
}

.location-column {
	width: 20%;
}

#location {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.matches-timeline h3 {
	font-size: 1rem;
	font-family: "Ubuntu-Bold", sans-serif;
	margin-bottom: .5rem;
}

#new-league-indicator {
	display: flex;
	flex-direction: row;
}