.fixtures-display {
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-left: auto;
	margin-right: auto;
	height: fit-content;
	min-height: 30rem;
}

.fixtures-display ul {
	width: 100%;
}

.event-card a {
	text-decoration: none;
	color: black;
	font-family: 'Ubuntu', sans-serif;
}

.event-card-info {
	display: grid;
	grid-template-columns: 4fr 1fr 1fr;
	padding: 1rem;
	font-size: 1rem;
	border-collapse: collapse;
	border: 1px solid var(--gray);

	&:hover {
		background-color: var(--gray);
	}
}

.event-card-team-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	vertical-align: middle;
	text-align: center;
	padding: .5rem;
}

.event-card-team-row p {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.event-card-team-row img {
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: .5rem;
}

.event-card {
	margin: auto;
}

.event-card-scores,
.event-card-teams {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.event-card-status {
	display: flex;
	align-items: center;
	justify-content: left;
}