.fixture-nav-bar {
	border-bottom: 2px solid var(--gray);
	margin-bottom: 1rem;
}

.fixture-nav-bar .selected {
	background-color: var(--green) !important;
	color: var(--white) !important;
}

.fixture-nav-bar > div {
	&:first-child, &:last-child {
		background-color: var(--gray);
	}
}

.fixture-nav-bar button {
	border-right: 1px solid var(--gray)
}