.league-profile-header {
	background-color: var(--white);
	border-radius: .5rem;
	box-shadow: var(--box-shadow);
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-left: 1rem;
}

.league-logo-bar {
	display: flex !important;
	flex-direction: row !important;
}

.league-profile-header>div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	width: 33%;

	&:first-child {
		justify-content: left;
	}

	&:last-child {
		justify-content: right;
	}
}

.league-profile-header p {
	color: var(--darkgray);
	margin: .5rem;
}

.league-profile-header img {
	height: 1.5rem;
}