.stat-dashboard {
	width: 100%;
	border-top: 1px solid var(--gray)
}

.stat-dashboard tr {
	overflow: hidden;
	white-space: nowrap;
}

.stat-dashboard th {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.stat-dashboard thead {
	border-bottom: 1px solid var(--gray);
}


.stat-dashboard-body {
	font-size: .8rem;
}

.stat-dashboard-body img {
	height: 1.5rem;
	margin-right: 4px;
}

#Player {
	display: flex;
	align-items: center;
	text-align: left;
	vertical-align: middle;
}

#Player span {
	height: 100%;
	vertical-align: middle;
}

#Player img {
	border-radius: 50%;
}

.league-stats-nav-bar {
	color: var(--gray);
}