.league-profile-nav-bar {
	position: sticky;
	top: 0;
	z-index: 1000;
	border-bottom: 2px solid var(--gray);
	display: flex;
	flex-direction: row;
	justify-content: space-between !important;
}

.section-heading {
	padding: 1rem;
	margin-bottom: 0px !important;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.section-heading img {
	height: 3rem;
	width: 3rem;
	margin-right: 1rem;
}

.league-profile-dashboard-container {
	border-radius: .5rem;
	box-shadow: var(--box-shadow);
	display: flex;
	flex-direction: column;
}

.selected-dashboard {
	color: var(--white)
}

.multi-table-dashboard h2 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 1rem;
	font-family: 'Ubuntu-Bold', sans-serif;
	color: var(--darkgray)
}