.matches-timeline {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: .5rem;
	box-shadow: var(--box-shadow);
}

.matches-timeline > ul {
	padding: 1rem;
}

.matches-timeline a {
	text-decoration: none;
	color: black;

	&:hover {
		text-decoration: underline;
	}
}

