

form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	row-gap: 1rem;
	border-radius: 10px;
	padding: 10px;
	font-family: "Ubuntu", sans-serif !important;
}

.form-error-message {
	color: red;
	font-size: 1rem;
	font-weight: 800;
}

.modal-body input {
	font-size: 2rem;
	width: 100%;
	font-family: "Ubuntu", sans-serif;
	border-radius: 4px;
}

.modal-body button {
	font-family: "Ubuntu-Bold", sans-serif;
}