
html {
	background-color: var(--green);
}

.outer-body {
	background-color: var(--gray);
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 50% 1fr;
	grid-template-rows: 8rem 1fr 15rem;
	grid-template-areas: 
		'nav nav nav'
		'. main .'
		"footer footer footer";
}

.inner-body {
	grid-area: main;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	margin-bottom: 2rem;
	min-height: 60vw;
	height: fit-content;
}