.timeline-nav-bar {
	position: sticky;
	top: 0;
	/* Stick to the top of the container when scrolling */
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: var(--white);
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
}

.timeline-nav-bar > div {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	// justify-content: center;
}